menu "Configuração do Wifi"

    config ESP_WIFI_SSID
        string "WiFi SSID"
        default "ssid"
        help
            Nome da rede Wifi.

    config ESP_WIFI_PASSWORD
        string "Senha do Wifi"
        default "minha_senha"
        help
            Senha do WiFi (WPA or WPA2).

    config ESP_MAXIMUM_RETRY
        int "Número máximo de tentativas de conexão"
        default 5
        help
            Configure o valor máximo de tentativas de conexão.
endmenu

menu "Modo de Funcionamento"

    choice ESP_MODE
        prompt "Configure o modo de operação da ESP"
        default ENERGY

        config BATTERY
            bool "Modo de Bateria"
        config ENERGY
            bool "Modo de Energia"
    endchoice
    
    config ESP_MODE
        int
        default 0 if BATTERY
        default 1 if ENERGY

endmenu

menu "Seleção de Configuração de Placa"

  choice ESP_CONFIG_NUMBER
      prompt "Selecione a configuração da ESP"
      default ESP0

      config ESP0
          bool "Buzzer + DHT"
      config ESP1
          bool "Sensor de batimentos + Fotoresistor"
      config ESP2
          bool "Sensor de fogo + LED"
  endchoice

  config ESP_CONFIG_NUMBER
    int
    default 0 if ESP0
    default 1 if ESP1
    default 2 if ESP2
endmenu

menu "Outros"
    config ESP_WIFI_PASSWORD
        string "Senha do Wifi"
        default "minha_senha"
        help
            Senha do WiFi (WPA or WPA2).
endmenu
